*{
  box-sizing: border-box;
  font-family: Tahoma;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  text-align: center;
  color:rgb(43, 137, 245);
  font-weight: bold;
  font-size: 32px;
}
 .success {
  border-color:#72ec67;
}
 .error {
  border-color:#ff4b33;
}

.form-ctrl input{
  width: 200px;
  margin-bottom: 15px;
  padding-bottom: 5px;
   
  display: block;
}
 
small{
   color:#ff4b33;
}

button{
  margin-top: 5px;
  font-family: Tahoma;
  background: rgb(43, 137, 245);
  color: rgb(236, 236, 236);
  border-radius: 5px;
  padding: 7px 16px;
  border: 1px solid rgb(175, 212, 255);
  align-self: center;
  cursor: pointer;
}